<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="color: green;">
  <a href="/" class="navbar-brand">Greenlight</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
      <a class="nav-link dropdown-toggle" href="#" id="#navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sign Up
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="/users/new">For Users</a>
        <a class="dropdown-item" href="#">For Businesses</a>
      </div>
      <a class="nav-item nav-link" href="/sessions/new">Log In</a>
    </div>
  </div>
</nav>