body {
  color: green;
  
}

/* Background Image fading inspired by: https://webdevetc.com/blog/how-to-add-a-gradient-overlay-to-a-background-image-using-just-css-and-html/ */
.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.52), rgba(255, 255, 255, 0.73)), url("https://s3.envato.com/files/121890818/Traffic%20Light%20(green%20to%20red)-%20preview.jpg");
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  
}

.hero-text {
  justify-items: center;
}

.value-prop-text {
  text-align: center;
  justify-content: center;
}

.red {
  background-color: #ff4d4d;
  color: white;
}

.green {
  background-color: #00cc00;
  color: white;
}






